
#ContainerTop{
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
    height: 75vh;
}


main .ContainerText{
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
}

main .ContainerText h1 {
    font-size: 20px;
}

#ContainerCard{
    width: 100%;
    padding:  20px 0;
    display: flex;
    background-color: #024385;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#Boxtext{
    width: 400px;
}

#Boxtext h1{
    font-size: 20px;
}

#ContainerCardText{
    width: 400px;
  
}

#ContainerCardText h1{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #E0E0E0;
}

#ContainerCardText p{
    font-family: Arial, Helvetica, sans-serif;
    color: #E0E0E0;
    
}

